.index-point {
    width: 25px;
    height: 25px;
    background-color: #dad5d2;
    border: 1px solid black;
    float: left;
    display: inline-block;
}

.index-point-active {
    background-color: #ee100d;
}

.person-shoutout {
    height: 200px;
}

ul.pageordering {
    display: inline-block;
    margin: 20px 0;
}

ul.pageordering li {
    display: inline;
}

ul.pageordering li a {
    color: black;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 4px;
    text-decoration: none;
}

ul.pageordering li a:hover {
    border: 2px solid black;
    font-weight: bold;
    margin: 0 3px;
}

ul.pageordering li a.selected {
    background-color: lightcoral;
    border: 2px solid black;
    font-weight: bold;
    margin: 0 3px;
}